/*
@font-face {
  font-family: "RM Neue";
  src: url("/src/assets/fonts/RMNeue-Regular.woff2") format("woff2"),
  url("/src/assets/fonts/RMNeue-Regular.woff") format("woff");
}

@font-face {
  font-family: "RM Neue";
  font-weight: 100;
  src: url("/src/assets/fonts/RMNeue-Light.woff2") format("woff2"),
  url("/src/assets/fonts/RMNeue-Light.woff") format("woff");
}

@font-face {
  font-family: "RM Neue";
  font-weight: 700;
  src: url("/src/assets/fonts/RMNeue-Bold.woff2") format("woff2"),
  url("/src/assets/fonts/RMNeue-Bold.woff") format("woff");
}

@font-face {
  font-family: "RM Neue";
  font-weight: 1000;
  src: url("/src/assets/fonts/RMNeue-Black.woff2") format("woff2"),
  url("/src/assets/fonts/RMNeue-Black.woff") format("woff");
}
*/

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('/src/assets/fonts/GTWalsheimPro-Regular.ttf') format('truetype'),
  url('/src/assets/fonts/GTWalsheimPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 100;
  src: url('/src/assets/fonts/GTWalsheimPro-Light.ttf') format('truetype'),
  url('/src/assets/fonts/GTWalsheimPro-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 700;
  src: url('/src/assets/fonts/GTWalsheimPro-Bold.ttf') format('truetype'),
  url('/src/assets/fonts/GTWalsheimPro-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'GT Walsheim Pro';
  font-weight: 1000;
  src: url('/src/assets/fonts/GTWalsheimPro-Black.ttf') format('truetype'),
  url('/src/assets/fonts/GTWalsheimPro-Black.ttf') format('truetype');
}

// Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// hurme-geometric-sans-regular
@font-face {
  font-family: 'Hurme Geometric Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('/src/assets/fonts/hurme-geometric-sans-1-regular.woff2') format('woff2'),
    url('/src/assets/fonts/hurme-geometric-sans-1-regular.woff') format('woff');
}
// hurme-geometric-sans-semi-bold
@font-face {
  font-family: 'Hurme Geometric Sans';
  font-style: normal;
  font-weight: 600;
  src:
    local(''),
    url('/src/assets/fonts/hurme-geometric-sans-1-semi-bold.woff2') format('woff2'),
    url('/src/assets/fonts/hurme-geometric-sans-1-semi-bold.woff') format('woff');
}
