.wrapper {
  .theme-bar {
    background-color: white;
    padding: 12px;
    border-bottom: 1px solid #7f7f7f;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    .theme-bar-title {
      display: flex;
      align-items: center;
      color: #222222;
    }

    select {
      min-width: 100px;
      border: 1px solid #7f7f7f;

      margin-left: 6px;
      padding: 6px;
      border-radius: 2px;
      border: 1px solid #7f7f7f;
      color: white;
      &:focus {
        outline: none;
      }
    }
  }

  .story-container {
    padding: 20px;
  }
}